---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<link href="/css/tags.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
    {% if page.tags %}
    <div class="post-tags">
      {% for tag in page.tags %}
        <a href="/tags#{{ tag }}" class="tag{% if layout.name != 'post' %} icon-only{% endif %}">
          {% case tag %}
          {% when 'java' %}
            <i class="fab fa-java"></i>
          {% when 'python' %}
            <i class="fab fa-python"></i>
          {% when 'rust' %}
            <i class="fab fa-rust"></i>
          {% when 'mathematics' %}
            <i class="fas fa-square-root-variable"></i>
          {% when 'janestreet' %}
            <i class="fas fa-puzzle-piece"></i>
            <span>{{ tag }}</span>
          {% else %}
            <i class="fas fa-tag"></i>
            <span>{{ tag }}</span>
          {% endcase %}
          {{ tag }}
        </a>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>